@import url("https://fonts.googleapis.com/css?family=Nunito");
/* ------------------------------------------
Universal
----------------------------------------- */
* {
  font-family: "Gill Sans", sans-serif;
  letter-spacing: -1px;
  line-height: normal;
  -webkit-font-kerning: none;
          font-kerning: none;
  /* transition-timing-function: ease-in-out; */
  -webkit-transition-duration: 0s;
          transition-duration: 0s;
  font-weight: 0;
}

body {
  background-color: #15171e;
}

/* ------------------------------------------
Name Header 
----------------------------------------- */
.nameRow {
  height: 60px;
  width: 100%;
  position: fixed;
  top: 0px;
  background-color: #697496;
  z-index: 2;
  visibility: visible;
  border-bottom: solid 1px #1f232d;
}

.nameText {
  margin-top: 7px;
  font-size: 40px;
  font-weight: bolder;
  color: #e1e3ea;
  text-align: center;
}

/* ------------------------------------------
Normal Header Menu 
----------------------------------------- */
.header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 60px;
  background-color: #1f232d;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 15px #697496;
          box-shadow: 0px 5px 15px #697496;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

.headerElement {
  max-height: 50px;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
  color: #e1e3ea;
  text-align: center;
  background-color: inherit;
  height: inherit;
  display: block;
}

.dropdownRow {
  background-color: #1f232d;
  color: #1f232d;
  height: 0px;
  font-size: 0px;
  text-align: center;
  position: relative;
  z-index: 2;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

.headerRow {
  height: 50px;
  font-size: 25px;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

.dropdownContent {
  padding-top: 10px;
  text-transform: uppercase;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

.headerElement:hover {
  cursor: pointer;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

.headerElement:hover .dropdownRow {
  color: #e1e3ea;
  height: 50px;
  font-size: 20px;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

.dropdownContent:hover {
  background-color: #697496;
  cursor: pointer;
  border: solid 1px #b4bacb;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

.headerTitle {
  border-top: solid #1f232d 6px;
  font-size: 35px;
  text-transform: uppercase;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

.headerTitle:hover {
  cursor: default;
  -webkit-transition-duration: .1s !important;
          transition-duration: .1s !important;
}

/* ------------------------------------------
Footer 
----------------------------------------- */
.footerRow {
  width: 100%;
  height: 5%;
  text-align: center;
  background-color: #1f232d;
  z-index: 3;
  bottom: 0px;
  position: fixed;
}

.footerText {
  color: #e1e3ea;
  text-align: center;
  font-style: italic;
  padding: 5px;
  font-size: 15px;
  display: block;
}

/* ------------------------------------------
Icons 
----------------------------------------- */
.iconRow {
  position: relative;
  z-index: 2;
}

.icon {
  padding: 5px;
  margin-left: 2.5px;
  position: relative;
  z-index: 2;
  height: inherit;
  max-height: 5vh;
  min-height: 50px;
  border: solid 1px #1f232d;
  display: block;
}

.socialIcon:hover {
  border: solid 1px #b4bacb;
  background-color: #697496;
}

.homeIcon {
  background-color: #1f232d;
  border: solid 3px #1f232d;
  max-width: 60px;
  display: block;
}

.homeIcon:hover {
  border: solid 1px #b4bacb;
  background-color: #697496;
}

.footerIcon {
  max-width: 50px;
}

/* ------------------------------------------
Left side menu 
----------------------------------------- */
.portfolioMenu {
  background-color: #c3c8d5;
  min-width: 420px;
  max-width: 25%;
  width: 100%;
  left: 0px;
  position: fixed;
  top: 0px;
  z-index: 2;
  display: block;
  height: 95%;
  -webkit-box-shadow: 0px 5px 15px #1f232d;
          box-shadow: 0px 5px 15px #1f232d;
  border-right: solid 1px #1f232d;
}

.portfolioList {
  display: block;
  background-color: #c3c8d5;
  height: 95%;
  position: relative;
  z-index: -1;
}

.portfolioHeader {
  border-bottom: solid 2px #1f232d;
  background-color: #1f232d;
  min-height: 45px;
  min-height: 5%;
  background-color: #1f232d;
  z-index: 2;
  border-right: solid 2px #1f232d;
  visibility: visible;
}

/* ------------------------------------------
Right side menu 
----------------------------------------- */
.projectBox {
  height: auto;
  background-color: #f0f1f5;
  padding: 5px;
}

.projectViewer {
  background-color: #ffffff;
  height: auto;
  position: absolute;
  top: 0px;
  right: 0px;
  float: right;
  z-index: -1;
  width: 75%;
}

.projectTitleBox {
  background-color: #ffffff;
  height: auto;
  min-height: 10%;
  margin: 15px;
  border: solid 1px #c3c7d5;
}

.projectDetailsBox {
  background-color: #ffffff;
  height: auto;
  min-height: 30%;
  margin: 15px;
  border: solid 1px #c3c7d5;
}

.projectPictureBox {
  background-color: #ffffff;
  height: auto;
  min-height: 50%;
  margin: 15px;
  margin-bottom: 30px;
  border: solid 1px #c3c7d5;
}

.projectFooterBox {
  background-color: #ffffff;
  height: auto;
  min-height: 5%;
}

.titleRow {
  background-color: #2a2e3c;
  text-transform: capitalize;
}

.title {
  color: #ffffff;
  font-size: 25px;
  text-transform: capitalize;
}

.nametag {
  position: absolute;
  z-index: -1;
  bottom: 20px;
  text-transform: uppercase;
  font-style: italic;
  letter-spacing: -3px;
  font-size: 40px;
  color: #2a2e3c;
  opacity: 20%;
  border-top: solid #2a2e3c 2px;
  padding-top: 10px;
  border-bottom: solid #2a2e3c 2px;
  border-left: solid #c3c8d5 70px;
  border-right: solid #c3c8d5 70px;
  padding-bottom: 10px;
}

/* ------------------------------------------
Buttons 
----------------------------------------- */
.hideButton {
  margin: 5px;
  background-color: #1f232d;
  height: inherit;
  min-width: 40px;
  color: #e1e3ea;
  font-size: 12px;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  left: 1%;
  bottom: 10%;
  z-index: 4;
  border: solid #1f232d 2px;
}

.hideButton:hover {
  margin: 5px;
  min-width: 40px;
  height: inherit;
  color: #e1e3ea;
  font-size: 12px;
  cursor: pointer;
  position: -webkit-sticky;
  position: sticky;
  left: 1%;
  bottom: 10%;
  z-index: 4;
  border: solid #e1e3ea 1px;
}

.iconHider {
  padding: 5px;
  margin-left: 2.5px;
  position: relative;
  z-index: 2;
  height: inherit;
  max-height: 5vh;
  min-width: 50px;
}

/* ------------------------------------------
Text menu 
----------------------------------------- */
.categoryRow {
  border-bottom: solid 1px #1f232d;
  background-color: #e1e3ea;
}

.categoryRow:hover {
  -webkit-transition-duration: .2s !important;
          transition-duration: .2s !important;
  -webkit-transition-timing-function: ease-in-out !important;
          transition-timing-function: ease-in-out !important;
  background-color: #c3c7d5;
  cursor: pointer;
}

.categoryTitle {
  padding: 0px;
  margin: 0px;
}

.categoryText {
  margin: 5px;
  padding: 5px;
  font-size: 25px;
  color: #34394b;
  text-align: left;
  -webkit-transition-duration: .2s !important;
          transition-duration: .2s !important;
  -webkit-transition-timing-function: ease-in-out !important;
          transition-timing-function: ease-in-out !important;
}

.categoryText:hover {
  color: #000000;
}

.subcategoryTitle {
  border-top: solid 1px inherit;
  border-bottom: solid 1px inherit;
  padding: 0px;
  height: 0px;
  background-color: #e1e3ea;
  font-size: 0px;
  color: inherit;
  -webkit-transition-duration: .2s !important;
          transition-duration: .2s !important;
  -webkit-transition-delay: .1s !important;
          transition-delay: .1s !important;
  -webkit-transition-timing-function: ease-in-out !important;
          transition-timing-function: ease-in-out !important;
}

.subcategoryTitle:hover {
  border-top: solid 1px #1f232d;
  border-bottom: solid 1px #1f232d;
  background-color: #b4b9cb;
  color: #000000;
}

.categoryTitle:hover .subcategoryTitle {
  height: 25px;
  font-size: 18px;
}

.aTagRemove {
  color: #34394b;
  text-decoration: none;
}

.aTagRemove:hover {
  color: #000000;
  text-decoration: underline;
}

/* ------------------------------------------
Dynamic FOR PORTFOLIO ONLY?
----------------------------------------- */
@media only screen and (max-width: 1075px) {
  .footerText {
    display: none;
  }
}

/* ------------------------------------------
Mission Statement
----------------------------------------- */
.missionStatement {
  -webkit-transition-duration: .2s !important;
          transition-duration: .2s !important;
  -webkit-transition-timing-function: ease-in-out !important;
          transition-timing-function: ease-in-out !important;
  position: relative;
  margin: 20%;
  width: 100%;
}

.missionStatementText {
  -webkit-transition-duration: .2s !important;
          transition-duration: .2s !important;
  -webkit-transition-timing-function: ease-in-out !important;
          transition-timing-function: ease-in-out !important;
  color: #e1e3ea;
  text-align: center;
  font-size: 35px;
  font-style: italic;
}

.githubLink {
  font-size: 25px;
  text-align: center;
  color: yellow;
}
/*# sourceMappingURL=app.css.map */