// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//important colors
$backgroundColor:  #282c36;
$headerColor: #12141a;
$borderFontColor: #e1e7f5;