// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

/* ------------------------------------------
Universal
----------------------------------------- */

* {
  font-family: "Gill Sans", sans-serif;
  letter-spacing: -1px;
  line-height: normal;
  font-kerning: none;
  /* transition-timing-function: ease-in-out; */
  transition-duration: .1s;
  font-weight: 0;
}

body {
  background-color: #15171e;
}

/* ------------------------------------------
Name Header 
----------------------------------------- */

.nameRow {
height: 60px;
width: 100%;
position: fixed;
top: 0px;
background-color: #697496;
z-index: 2;
visibility: visible;
border-bottom: solid 1px #1f232d;
}
.nameText {
margin-top: 7px;
font-size: 40px;
font-weight: bolder;
color: #1f232d;
text-align: center;

}

/* ------------------------------------------
Normal Header Menu 
----------------------------------------- */
.header {
  height: 50px;
  width: 100%;
  position: fixed;
  top: 60px;
  background-color: #1f232d;
  z-index: 2;
  box-shadow:0px 5px 15px #697496;
  
}

.headerElement {
  max-height: 50px;
  
  color: #e1e3ea;
  text-align: center;
  background-color: inherit;
  height: inherit;
  display: block;
}

.dropdownRow {
  background-color: #1f232d;
  color: #1f232d;
  height: 0px;
  font-size: 0px;
  text-align: center;
  position: relative;
  z-index: 2;    
}

.headerRow {
  height: 50px;
  font-size: 25px;
}

.dropdownContent {
  padding-top: 10px;
  text-transform: uppercase;
}

.headerElement:hover {
  cursor: pointer;
}

.headerElement:hover .dropdownRow {
  color: #e1e3ea;
  height:50px;
  font-size: 20px;
} 

.dropdownContent:hover {
  background-color: #697496;
  cursor: pointer;  
  border: solid 1px #b4bacb;
 }

 .headerTitle {
  border-top:solid #1f232d 6px;
  font-size: 35px;
  text-transform: uppercase;
  
 }

 .headerTitle:hover {
  cursor: default;
 }
/* ------------------------------------------
Footer 
----------------------------------------- */

.footerRow {
width: 100%;
height: 5%;
text-align: center;
background-color: #1f232d;
z-index: 3;
bottom: 0px;
position: fixed;

}

.footerText {
color: #e1e3ea;
text-align: center;
font-style: italic;
padding:5px;
font-size: 15px;
display: block;
}

/* ------------------------------------------
Icons 
----------------------------------------- */

.iconRow {
position: relative;
z-index: 2;
}

.icon {
padding: 5px;
margin-left: 2.5px;
position: relative;
z-index: 2;
height: inherit;
max-height: 5vh;
min-height: 50px;
border: solid 1px #1f232d;
display: block;
}

.socialIcon:hover {
border: solid 1px #b4bacb;
background-color: #697496;
}

.homeIcon {
background-color: #1f232d;
border: solid 3px #1f232d;
max-width: 60px;
display: block;
}

.homeIcon:hover {
border: solid 1px #b4bacb;
background-color: #697496;
}

.footerIcon {
max-width: 50px;

}
/* ------------------------------------------
Left side menu 
----------------------------------------- */

.portfolioMenu {
background-color: #c3c8d5;
min-width: 420px;
max-width: 25%;
width: 100%;
left:0px;
position: fixed;
top: 0px;
z-index: 2;
display: block;
height: 95%;
box-shadow:0px 5px 15px #1f232d;
border-right: solid 1px #1f232d;
}


.portfolioList {
display: block;
background-color: #c3c8d5;
height: 95%;
position: relative;
z-index: -1;

}

.portfolioHeader{
border-bottom: solid 2px #1f232d;
background-color:#1f232d;

min-height: 45px;
min-height: 5%;
background-color: #1f232d;
z-index: 2;
border-right: solid 2px #1f232d;
visibility: visible;
}





/* ------------------------------------------
Right side menu 
----------------------------------------- */ 
.projectBox {
height: 50px;
background-color: #d2d5e0;
padding : 5px;
}


.projectViewer {
background-color: #e1e3ea;
height: 5000px;
position: absolute;
top: 60px;
right: 0px;
float:right;
z-index: -1;
width: 75%;
}

.projectTitleBox {
background-color:#e1e3ea;
height: auto;
min-height: 10%;
}
.projectDetailsBox {
background-color:#e1e3ea;
height: auto;
min-height: 30%;

}
.projectPictureBox {
background-color:#e1e3ea;
height: auto;
min-height: 50%;

}
.projectFooterBox {
background-color:#e1e3ea;
height: auto;
min-height: 10%;

}

.titleRow {
background-color: #2a2e3c;
text-transform: capitalize;
}

.title {
color: #e1e3ea;
font-size: 25px;
text-transform: capitalize;
}


/* ------------------------------------------
Buttons 
----------------------------------------- */ 

.hideButton {
margin: 5px;
background-color: #1f232d;
height: inherit;
min-width: 40px;
color: #e1e3ea;
font-size: 12px;
cursor: pointer;
position: sticky;
left:1%;
bottom: 10%;
z-index:4;
border: solid #1f232d 2px;
}

.hideButton:hover {
margin: 5px;
min-width: 40px;
height: inherit;
color: #e1e3ea;
font-size: 12px;
cursor: pointer;
position: sticky;
left:1%;
bottom: 10%;
z-index:4;
border: solid #e1e3ea 1px;
}
.iconHider {
padding: 5px;
margin-left: 2.5px;
position: relative;
z-index: 2;
height: inherit;
max-height: 5vh;
min-width: 50px;
}


/* ------------------------------------------
Text menu 
----------------------------------------- */ 
.categoryRow {
border-bottom: solid 1px #1f232d;
background-color: #e1e3ea;
}

.categoryRow:hover {

background-color: #c3c7d5;
cursor: pointer;
}

.categoryTitle {
padding: 0px;
margin: 0px;
}

.categoryText:hover  {
padding-left: 50x;

}
.categoryText {
margin: 5px;
padding: 5px;
font-size: 25px;
color: #34394b;
text-align: left;
}

.categoryText:hover {
color: #000000;

}

.subcategoryTitle {
border-top: solid 1px inherit;
border-bottom: solid 1px inherit;
padding: 0px;
height: 0px;
background-color: #e1e3ea;
font-size: 0px;
}

.subcategoryTitle:hover {
border-top: solid 1px #1f232d;
border-bottom: solid 1px #1f232d;

background-color: #b4b9cb;
color: #000000;
}

.categoryTitle:hover .subcategoryTitle {
height: 25px;
font-size: 18px;
}

/* ------------------------------------------
Dynamic FOR PORTFOLIO ONLY?
----------------------------------------- */ 

@media only screen and (max-width: 1075px) {
.footerText {
  display: none;
}
}