// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';
* {
  font-family: "Gill Sans", sans-serif;
  letter-spacing: -1px;
  line-height: normal;
  font-kerning: none;
  /* transition-timing-function: ease-in-out; */
  transition-duration: .1s;
  font-weight: 0;
}

body {
  background-color: #12141a;
}

.header {
  height: 50px;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
  background-color: #1f232d;
  z-index: 2;
  box-shadow:0px 5px 15px #697496;
  
}

.headerElement {
  height: 50px;
  color: #e1e3ea;
  text-align: center;
  width: inherit;
  background-color: inherit;
  height: inherit;
  
}

.socialBoxes {
  height: 100%;
  background-color: #e1e3ea;
}

.dropdownRow {
  background-color: #1f232d;
  color: #1f232d;
  height: 0px;
  width: inherit;
  font-size: 0px;
  text-align: center;
  position: relative;
  z-index: 2;
  /* border: solid #1f232d 0px; */
  
}

.headerRow {
   height: 50px;
   font-size: 25px;
}

.dropdownContent {
  padding-top: 10px;
  text-transform: uppercase;
}

.headerElement:hover {
  cursor: pointer;
}

.headerElement:hover .dropdownRow {
  color: #e1e3ea;
  height:50px;
  font-size: 20px;
} 

.dropdownContent:hover {
      background-color: #697496;
      cursor: pointer;  
 }


.projectBox {
  background-color: #2a2e3c;
  min-height: 250px;
  margin-bottom: 0px;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 40px;
  position: relative;
  z-index: -1;
}

.innerProjectBox {
  background-color:#34394b;
  min-height: 250px;
  white-space: normal;
}

.colPaddingMiddle {
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left : 5px;
  padding-right : 5px;
}
.colPaddingLeft {
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left : 10px;
  padding-right : 5px;
}
.colPaddingRight {
  padding-top : 10px;
  padding-bottom : 10px;
  padding-left : 5px;
  padding-right : 10px;
}

.titleRow {
  background-color: #2a2e3c;
  text-transform: capitalize;
}

.title {
  color: #e1e3ea;
  font-size: 25px;
  text-transform: capitalize;
}

.footerRow {
  text-align: center;
  background-color: #12141a;
  bottom: 0px;
  position: relative;
}

.footerText {
  color: #e1e3ea;
  text-align: center;
  font-style: italic;
  margin-top:15px;
  margin-bottom:15px;
  font-size: 15px;
}

.iconRow {
  position: relative;
  z-index: 2;
}

.icon {
  padding: 5px;
  margin-left: 2.5px;
  position: relative;
  z-index: 2;
  max-height: 50px;
  max-width: 50px;
  min-height: 35px;
  min-width: 35px;
}