// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

* {
  font-family: "Century Gothic";
  transition-timing-function: ease-in-out;
  transition-duration: 1s;
}

body {

}