body {
    background-color: #282c36;
}

.header {
    height: 50px;
    background-color: #12141a;
    position: -webkit-sticky;
    position: sticky;
    bottom: 0px;
    /* border-bottom: 2px solid #e1e7f5; */
}

.headerElement {
    height: 100%;
    font-size: 25px;
    color: #e1e7f5;
    text-align: center;
}
.headerElement:hover {
    background-color: #282c36;
    cursor: pointer;
}
.socialBoxes {
    height: 100%;
    background-color: #e1e7f5;
    border: 2px;
    border-style: solid;
    border-color: red;
}